[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=/home/dlussky/phpstorm/PhpStorm-141.1912/bin/webide.png
Exec="/home/dlussky/phpstorm/PhpStorm-141.1912/bin/phpstorm.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
OnlyShowIn=Old;
