# Shadow
shadow = true;
no-dnd-shadow = true;
no-dock-shadow = true;
clear-shadow = true;
shadow-radius = 6;
shadow-offset-x = -8;
shadow-offset-y = -8;
shadow-exclude = [ "name = 'Notification'", "class_g = 'Guake'", "class_g = 'Xfce4-notifyd'", "class_g = 'Synapse'", "class_g ?= 'Notify-osd'", "window_type *= 'menu'"];
shadow-ignore-shaped = true;
#inactive-dim = 0;
# Opacity
# Fading
fading = false;

# Other
backend = "glx"

# Window type settings
wintypes:
{
  tooltip = { fade = true; shadow = false; opacity = 0.75; focus = true; };
};
